<!DOCTYPE html>
<html>
<head>
  <title>Metro</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div>
  <%= link_to "Drivers", drivers_path %> |
  <%= link_to "Coaches", coaches_path %> |
  <%= link_to "Assignments", assignments_path %>
</div>

<%= yield %>

</body>
</html>
